#map {
  height: 200px;
}
#table {
  height: 200px;
}

/* Map page */
#map, #map-holder{
    top:0;bottom:0;left:0;right:0;
}
#map-holder {
    overflow: hidden;
    position: absolute;
}
#map-holder .legend{
    background:#ffffff;
    box-shadow:0 3px 4px;
    position:absolute;
    font-size:0.9em;
    line-height:20px;
    margin:0.6em;
    z-index:1001;
}
#map-holder .legend.top{ top:0; }
#map-holder .legend.bottom{ bottom:0; }
#map-holder .legend.left{ left:0; }
#map-holder .legend.right{ right:0; }


/* View-by legend */
.legend.viewby{
    margin-left:10px !important;
    max-width: 25em;
    min-height: 2.5em;
    max-height: 30em;
}
.legend.viewby .pure-menu.pure-menu-open{
    border: 0;
    padding-right:0!important;
    padding-bottom:1em!important;
    width:20em;
}
.legend.viewby .pure-menu.pure-menu-open ul{
    overflow-y:auto;
}
.legend.viewby .pure-menu a {
    padding-left: 0; padding-right: 0;
}
.legend.viewby .pure-menu li {
    margin: 0;
}
.legend.viewby .pure-menu-open li a div span{
    display:block;
    margin-right:1em;
    max-width:21em;
    overflow:hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
}
.legend.viewby .pure-button, .legend.viewby .pure-button:active {
    background:#ffffff;
    border-radius:0;
    box-shadow: 0;
}
.legend.viewby li a:hover, .legend.viewby .pure-button:hover {
    background:#dddddd;
}
.legend.viewby .btn-close{
    margin:-7px -2px 0 0;
}
.viewby li.instruction {
    color: #777;
    font-style: italic;
    padding-bottom: 2px;
}
.viewby ul.submenu{
    margin-left:-1em;
    margin-top:2.4em;
    max-height:30em;
    overflow-y:auto;
}
#map-holder > .legend ul {
    margin-top:0;
    max-height:25em;
    padding-left:0;
}
.legend ul h4{
    padding-left:0.8em;
}
.legend.viewby > ul li{
    margin-bottom:0;
}
.small-circle {
    width:12px;
    height:12px;
    border-radius:50%;
    color:#fff;
    text-align:center;
    border:1px solid #ccc;
    float: left;
    margin:2px 5px 1px 0;
}


/* drop-hovers */
.drop-hover:hover > ul.submenu{
    background: none repeat scroll 0 0 #fff;
    visibility:visible;
}

.btn-dropdown .submenu li > span{
    color:#AFAFAF!important;
    display:block;
    padding:0.5em 0.5em 0.5em 2.4em;
}
.btn-dropdown .submenu li > span.inactive:hover{
    outline: 1px solid #DFDFDF!important;
}
.btn-dropdown .submenu li a {
    background-color:#fff;
    padding-left:2.6em;
}
.btn-dropdown .submenu li a:hover {
    background-color:#efefef;
}
.btn-dropdown .submenu.no-dot li a {
    background: none repeat scroll 0 0 #f2f2f0;
    color: #777 !important;
    padding: 0.6em 1em !important;
}
.btn-dropdown .submenu.no-dot li a:hover {
    background: none repeat scroll 0 0 #dddddd;
}
.page-dropdown > div {
    background:none;
    cursor:pointer;
    height:50px;
    padding:0!important;
    width:39px;
}
.page-dropdown > div span{
    padding:0.9em 0 0;
}
.page-dropdown > div span:hover{
    color:#ff5d00;
}
.page-dropdown .submenu {
    margin-left:3.2em;
    margin-top:-0.2em;
    max-height:17.5em;
    overflow-y:auto;
    width:15em;
}
.page-dropdown .submenu li a{
    color:#fe7527!important;
    overflow:hidden;
    padding-left:0.4em;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.page-dropdown .submenu li a:hover{
    background-color:#efefef;
}
.page-dropdown .submenu li a,
.page-dropdown .submenu li a:hover{
    background-position:7px center;
}

.page-dropdown .submenu .pager-icon-red{
    float:left;
    margin-top:-2px;
}
.page-dropdown .location-name {
    padding-left:0.4em;
    padding-top:0.1em;
    position:relative;
    top:4px;
}
td .right .submenu{
    right:6px;
    width:12.5em;
}

/*dropdowns*/
div.dropdown{
    display: inline-block;
    outline:none!important;
    position: relative;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-dropdown a.pure-button{
    background:none;
}
.menu-context {
    display: block !important;
}
.menu-context ul.submenu {
    left: 120px;
    top: 10px !important;
}
.btn-dropdown .submenu {
    background: none repeat scroll 0 0 #fff;
    margin-top: 2em;
    width: 100%;
}
.btn-dropdown > div {
    background: none repeat scroll 0 0 #ebebe8;
    cursor: pointer;
    height: 33px;
    overflow: hidden;
    padding-top: 0.2em;
    text-align:center!important;
    width: 33px;
}
.btn-dropdown a.pure-button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.btn-dropdown > div span {
    margin-top: 4px;
    padding: 0 0 1em 1em;
}
.btn-dropdown > div > a {
    color: #4c4c4c;
    text-decoration: none;
}
.btn-dropdown i {
    color: #808080;
    font-size: 1.4em;
    font-weight: 700;
    margin-left:-2px;
    margin-top:-4px;
    padding: 0.3em 0.55em 0.4em;
}
.btn-dropdown.btn-duo > div {
    width: auto !important;
}
.btn-dropdown.btn-duo i {
    border-left: 1px solid #e8e8e8;
}
ul.submenu {
    -webkit-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    padding: 0 !important;
    position: absolute !important;
    top:3px;
    z-index:9000;
    visibility:hidden;
}
ul.submenu li {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    float: none !important;
    list-style: none outside none;
    margin: 0;
    min-width: 13em;
}
ul.submenu li:first-child {
    border-top: 1px solid #cfcfcf;
}
ul.submenu li:last-child {
    border-bottom: 1px solid #cfcfcf;
}
ul.submenu li a, span.drop-header{
    color: #777;
    display:block!important;
    padding:0.6em 1em;
    text-decoration: none;
}
span.drop-header{
    background: none repeat scroll 0 0 #f2f2f0;
}
ul.submenu li a:hover {
    background: none repeat scroll 0 0 #dddddd;
    color: #555;
}
ul.submenu li a.inactive, ul.submenu li a.inactive:hover{
    background:#CFCFCF;
    cursor:arrow;
}
